html::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  background-color: rgb(125, 150, 106);
}

li,
button {
  cursor: pointer;
}

li {
  border-radius: 10px 0 0 10px;
  padding: 5px;
}

.selected {
  background-color: rgb(128, 128, 128);
}

.completed {
  text-decoration: line-through solid black;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

header {
  display: none;
}

.add-save {
  display: flex;
}

.add-save button {
  flex-grow: 1;
}

main.flex-container {
  justify-content: space-between;
  height: inherit;
}

.top-section {
  flex-grow: 1;
  height: inherit;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.top-section::-webkit-scrollbar {
  display: none;
}

#list-container {
  flex-grow: 1;

  overflow-y: scroll;
}

.line-flex {
  display: flex;
  margin: 5px 0;
}

#mover-cima,
#mover-baixo {
  width: 20em;
}

#apaga-tudo {
  width: 80em;
}

#remover-finalizados {
  width: 70em;
}

#remover-selecionado {
  flex-basis: 10em;
}

hr {
  margin: 10px;
}
